{% extends "layout.html" %}
{% set active_page = active_page|default('homepage') -%}
{% block title %}CPD Log{% endblock %}
{% block container %}

<h3>Import from EA Report</h3>

<p>You can import from an Engineers Australia export.</p>

<form method="POST" action="{{ url_for('import_ea') }}" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.upload_file.label }}:
        {{ form.upload_file(class="form-control") }}
    </div>

    <button id='submit-data' type="submit" class="btn btn-primary">
        Upload
    </button>


    {% if form.errors %}
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Error:</strong> {{ form[field_name].label }}: {{ error }}
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}



</form>


{% endblock container%}