{% extends "layout.html" %}
{% block title %}CPD Log{% endblock %}
{% block container %}

<h1>CPDLog</h1>

<p>There is a total of {{summary.total_hours}}h recorded over the last 3 years.
    {% if summary.total_hours > 150.0 %}
    ({{(summary.total_hours - 150)}}h more then needed!)
    {% else %}
    <strong>({{(150 - summary.total_hours)}}h less then needed!)</strong>
    {% endif %}
    <br>Of that, {{expiring}}h will be expiring in the next year
    and {{150 - (summary.total_hours - expiring)}}h will need to be added.
    <br>
    There are {{(summary.total_hours - summary.total_non_tech_hours)}}h of technical
    and {{summary.total_non_tech_hours}}h of non-technical activities.
</p>

{% if summary.total_non_tech_hours > 37.5 %}
<p>
    More than 37.5h of non-technical hours are recorded, so further hours are not included in the totals.
</p>
{% endif %}

<div id="quarters_totals_chart" style="max-width: 100%; height: 400px;"></div>

<div id="types_totals_chart" style="max-width: 100%; height: 300px;"></div>


<h2>Activities</h2>

<dialog id="newActivity">
    {% include "activity_form.html" %}
    <button onclick="document.getElementById('newActivity').close()">Close</button>
</dialog>

<button onclick="document.getElementById('newActivity').showModal()">Record New</button>


{% for activity in activities %}
{% if not activity.expired(3) %}

<details>
    <summary>
        <em>{{activity.act_date}}</em> {{activity.topic}}
        <em>[{{activity.cpd_hours}}hrs]</em>
    </summary>
    <p>
    <dl>
        <dt>CPD Type:</dt>
        <dd>{{activity.cpd_type_code}}: {{activity.cpd_type_desc}}</dd>

        {% if activity.provider %}
        <dt>Provider:</dt>
        <dd>{{activity.provider}}</dd>
        {% endif %}

        <dt>Learning Outcome:</dt>
        <dd>{{activity.learning_outcome}}</dd>

        {% if activity.notes %}
        <dt>Notes:</dt>
        <dd>{{activity.notes}}</dd>
        {% endif %}
    </dl>

    </p>
</details>


{% endif %}
{% endfor %}


<p>Activities older then 3 years old are not shown.</p>



<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var quartersgraph = {{ quarters_graph_json | safe}};
    Plotly.plot('quarters_totals_chart', quartersgraph, {});
</script>
<script type='text/javascript'>
    var typesgraph = {{ types_graph_json | safe}};
    Plotly.plot('types_totals_chart', typesgraph, {});
</script>

{% endblock container%}

{% block footer %}
<a href="#">Back to top ⬆</a>
{% endblock footer%}